NET "osc" LOC ="E3"  | IOSTANDARD = "LVCMOS18";
NET "CLR" 	LOC ="J15" | IOSTANDARD = "LVCMOS18";
NET "diven" LOC ="L16" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<0>" LOC ="H17" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<1>" LOC ="K15" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<2>" LOC ="J13" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<3>" LOC ="N14" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<4>" LOC ="R18" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<5>" LOC ="V17" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<6>" LOC ="U17" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<7>" LOC ="U16" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<8>" LOC ="V16" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<9>" LOC ="T15" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<10>" LOC ="U14" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<11>" LOC ="T16" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<12>" LOC ="V15" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<13>" LOC ="V14" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<14>" LOC ="V12" | IOSTANDARD = "LVCMOS18";
NET "salida_leds<15>" LOC ="V11" | IOSTANDARD = "LVCMOS18";
